* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
ul,
li,
ol {
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/* OWN CSS */

body {
  font-family: quicksand, sans-serif;
  background: linear-gradient(135deg, #ededed 0%, #dfdfdf 100%);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
}

.header > h1 {
  color: #222222;
}

.new-message-button {
  border: none;
  background-color: #ffffff;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 12px;
  transition: all ease-in 0.2s;
}

.new-message-button a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #3d3d3d;
}

.new-message-button:hover {
  transform: translateY(-2px);
}

.messages {
  padding: 40px 40px;
}

.messages-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.message {
  /* padding: 20px; */
  background-color: white;
  border-radius: 12px;
  transition: all ease-in 0.2s;
}

.message:hover {
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
}

.message-header {
  padding: 20px;
  background-color: #65725b;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.message-header > h2 {
  color: white;
}

.message-content {
  padding: 20px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.message-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.message-date {
  color: #a0a0a0;
  font-size: 14px;
}

.message-detail {
  color: #a0a0a0;
  font-size: 14px;
  transition: all ease-in 0.2s;
}

.message-detail:hover {
  color: #d1d1d1;
}
